/* selected tag{
property: value;
}*/
body{
    background-image: url(zima.jpg);

    /* top, right, bottom, left */
    margin: 10px 30px 30px 30px;
    color: white;
}
h1{
    color: red;
}
