{% extends 'pages/base.html' %}
{% block content %}
    <div class="chatbot">
      <h2>Chatbot</h2>
      <p>  Chatbot (chatterbot lub linguabot) – program komputerowy, którego zadaniem jest prowadzenie konwersacji przy użyciu języka
        naturalnego bądź interfejsu tekstowego i sprawianie wrażenia inteligentnego. Zabieg ten ma na celu oszukanie rozmówcy, tak
        aby myślał, iż rozmawia on z żywym człowiekiem. Chatboty często używane są na stronach internetowych jako interaktywne,
        wirtualne postacie, zastępujące żywych konsultantów, odpowiadając na pytania z zakresu usług i działalności danej firmy.
        Pojęcie chatterbota ściśle wiąże się ze Sztuczną Inteligencją.Nazwa 'chatterbot' została po raz pierwszy użyta przez
        Michaela Mauldina, twórcę Verbota w 1994 roku.</p>

      <h2>Historia chatbotów</h2>
      <p>Rozwój chatbotów został zainspirowany w 1950 roku przez Alana Turinga. Turing zaproponował test, mający pośrednio udowodnić
      inteligentne zdolności maszyny dzięki skutecznemu udawaniu człowieka w rozmowie poprzez terminal tekstowy. Najpopularniejszym
       klasycznym chatbotem jest ELIZA zaprojektowana w 1966 roku przez Josepha Weizenbauma jako program symulujący psychoanalityka,
       który parodiował terapeutę, często powtarzając, w formie pytań, kwestie wypowiedziane przez rozmówcę. Innym znanym
       historycznym botem jest PARRY, stworzony w 1972 roku, symulujący człowieka chorego na schizofrenię paranoidalną.

Rozwój komputerów i internetu przyczynił się do znacznego wzrostu liczby programów do konwersacji z komputerem. Jednym z
najważniejszych corocznie przeprowadzanych testów Turinga jest konkurs o Nagrodę Loebnera, w którym w ostatnich latach najlepsze
wyniki uzyskiwały takie boty, jak ALICE i Jabberwacky.

Polskojęzycznymi chatbotami są np. Ania działająca na stronie firmy IKEA, Król Stanisław August Poniatowski na stronie Mennicy
Polskiej, Radek na stronie Polskiego Radia Euro.</p>
<h2>Sposób działania</h2>
<p>Najprostsze chatboty posługują się stałą bazą wiedzy złożoną ze słów kluczowych i przypisanych im komunikatów, które wysyłają
  w odpowiedzi użytkownikowi, gdy w jego tekście znajdą dane słowo. Przykładowy prosty czatbot dostając pytanie "Jaka jest u
  ciebie pogoda?" mógłby odpowiadać komunikatem "Jest bardzo słonecznie" przypisanym do słowa "pogoda". Inną metodą używaną przez
  bota ELIZA jest nieznaczna zamiana wiadomości otrzymanej i odesłanie jej z powrotem. Przykładowo, jeśli rozmówca wysyła
  "Nie jest dobrze", program może łatwo zamienić to na pytanie "Dlaczego nie jest dobrze?" i odesłać. Takie sposoby są często
  wystarczające, aby ludzi, którzy nie są świadomi rozmowy z komputerem i nie znają tego typu programów, zainteresować na tyle,
  by utrzymali rozmowę przynajmniej przez krótki czas.
Bardziej zaawansowane chatboty poszerzają swoją bazę wiedzy w trakcie kolejnych rozmów. Wykorzystują zaawansowane analizatory
składniowe do analizy otrzymanych wiadomości, korzystające z wiedzy z dziedziny analizy języka naturalnego i algorytmy uczenia
maszynowego. </p>
      <h2>Nagroda Loebnera</h2>
      Nagroda Loebnera – coroczny konkurs polegający na napisaniu chatbota, z którym rozmowa zostanie przez sędziów uznana za
      najbardziej podobną do rozmowy z człowiekiem. Konkurs wzoruje się na teście Turinga – sędziowie posiadają zbiór pytań,
      które zadają przez terminal programowi lub człowiekowi, nie wiedząc, kto znajduje się po drugiej stronie. Na podstawie
      udzielanych odpowiedzi muszą zdecydować, czy rozmawiali ze stworzonym programem, czy z człowiekiem.
Pierwsza edycja konkursu została zorganizowana w 1990 roku przez Hugh Loebnera oraz Cambridge Center for Behavioral Studies.
Jednorazową nagrodę główną, 18-karatowy złoty medal oraz 100000 dolarów, zostanie przyznana osobie, której program przejdzie
test Turinga – czyli będzie tak dobrze naśladował rozmowę, że niemożliwe będzie odróżnienie programu od człowieka. Program będzie
rozumiał zadawane pytania, sensownie na nie odpowiadał oraz zwracał uwagę na wskazówki wizualne (jak gesty). Przyznanie głównej
nagrody zakończy definitywnie konkurs – do dzisiaj jednak nikt jej nie zdobył. Poza tym corocznie przyznawany jest pozłacany,
brązowy medal oraz 3000 dolarów osobie, której program, w danym roku, będzie najskuteczniej imitował ludzką konwersację.
Zawody odbywają się co roku, w The Cambridge Center of Behavioral Studies. Sędziowie są losowani spośród pracowników tego
instytutu. Programiści muszą dostarczyć program, który działa pod Linuksem, MS Windows lub na Macintoshach lub alternatywnie
dostarczyć swój własny komputer z programem, przy czym komputer musi się dać podłączyć do standardowego terminala DEC 100.
Dostarczone programy mają generować na tym terminalu ekran, na którym od góry do dołu pojawia się tekst konwersacji pisany
standardową czcionką i nie formatowany w żaden szczególny sposób. Sędziowie mają przez jeden dzień wolny dostęp do dwukrotnie
większej liczby terminali niż liczba dostarczonych programów. Co drugi terminal jest obsługiwany przez prosty program
komunikacyjny, który generuje na ekranie taki sam tekst jak testowane programy, ale jest obsługiwany przez człowieka –
wylosowanego spośród studentów instytutu i zaakceptowanego przez autorów programów. Do co drugiego terminala jest natomiast
przyłączony testowany program. Sędziowie po całym dniu "konwersowania" ze wszystkimi terminalami decydują, które z terminali
obsługiwał człowiek, a które program, oraz który z terminali obsługiwanych ich zdaniem przez programy zachowywał się "najbardziej
po ludzku". Sędziowie mają prawa zadawać terminalom dowolne pytania, oprócz takich, które w oczywisty sposób zdemaskowałyby
programy, takie jak "jaki jest numer twojego buta", albo "jak ma na imię twoja dziewczyna".
<div class="">
  <h2>Porozmawiaj z chatbotem</h2>
  W 2018 roku odbył się najbliższy konkurs o nagrodę Loebnera. Zaszczytne miejsce w pierwszej trójce zajęli:
  <ol>
    <li>Tutor mike <a href="https://www.chatbots.org/chatbot/mike2/">Tu możesz z nim porozmawiać</a></li>
    <li>Mitsuku <a href="https://www.pandorabots.com/mitsuku/">Tu możesz z nią porozmawiać</a></li>
    <li>Uberbot</li>
  </ol>

</div>
{% endblock %}
