{% extends 'pages/base.html' %}
{% block content %}
    <span>
      <h2>Filozofia sztucznej inteligencji</h2>
      Filozofia sztucznej inteligencji – gałąź filozofii, w której przedmiotem dyskusji są problemy dotyczące „myślących
      maszyn”, takie jak:

    Czy maszyna może zachowywać się inteligentnie w sposób nieodróżnialny od zachowania człowieka i czy to implikuje, że taka
    maszyna rzeczywiście posiada umysł i świadomość?
    Jak wyglądałyby etyczne konsekwencje stworzenia takich maszyn?
    Czy procesy myślowe mogą zostać opisane w kategoriach modeli informatycznych?

Te pytania są przedmiotem zainteresowania badaczy sztucznej inteligencji, filozofów, psychologów poznawczych, specjalistów w
dziedzinie kognitywistyki i lingwistyki. </span>
{% endblock %}
